<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Moodify</title>
        <link rel="stylesheet" href= "{{ url_for('static', filename='style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    </head>

    
<body style="background-color: #191414;">

            <style>
            p {
                position:relative;
                top: 40px;
                text-align:center

            }
            mark {
              color: white;
            }
            </style>
            
                <div style="text-align:center;">
                    <font size="10"> <mark><p>You have been successfully authorized!</p></mark> </font>
                </div>
                
                
            <style>
            p {
                position:relative;
                top: 20px;
                text-align:center

            }
            mark {
              color: white;
            }
            </style>
            
                <div style="text-align:center;">
                    <font size="10"> <mark><p>Upload your file</p></mark> </font>
                </div>
                
            <div class='table'>
                <div class='cell'>
                    <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
                        <p><input id="file-picker" type="file" name="file" accept="image/*" multiple></p>
                        <div id="msg"></div>
                        <br />
                        <p><input type="submit" value="Upload!" id="upload-button"></p>
                        <br />
                    </form>
                </div>
            </div>
            
</body>


<script>

    $("#file-picker").change(function(){

        var input = document.getElementById('file-picker');

        for (var i=0; i<input.files.length; i++)
        {
        //koala.jpg, koala.JPG substring(index) lastIndexOf('a') koala.1.jpg
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()

            if ((ext == 'jpg') || (ext == 'png'))
            {
                $("#msg").text("Files are supported")
            }
            else
            {
                $("#msg").text("Files are NOT supported")
                document.getElementById("file-picker").value ="";
            }

        }


    } );

</script>

</html>